<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qdu.qingyun.mapper.BaseDataMapper">
    <select id="getAllCollege" resultType="com.qdu.qingyun.entity.PO.BaseData.CollegePO">
        select *
        from school_college
    </select>

    <select id="getAllMajor" resultType="com.qdu.qingyun.entity.PO.BaseData.MajorPO">
        select *
        from school_major
    </select>

    <select id="getMajorByCollegeRealId" resultType="com.qdu.qingyun.entity.PO.BaseData.MajorPO">
        select *
        from school_major
        where college_id = #{collegeId}
    </select>


    <select id="findCollegeNameById" resultType="String">
        select college_name from school_college where id = #{id}
    </select>

</mapper>